.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
button {
  width: 100px;
  height: 40px;
  background: rgb(97, 97, 185);
  border: 2px solid #fff;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  margin: 20px 0px;
}
label {
  margin: 10px 0px;
}
input {
  height: 30px;
  width: 20%;
  border: 2px solid rgb(97, 97, 185);
}

input :focus {
  border: 2px solid red;
}
